.input-box {
    justify-content: space-between;
    margin: 25px 0;
    width: 100%;
}

input {
    width: 73%;
    height: 42px;
    border: none;
    box-sizing: border-box;
    padding: 0 25px;
    border-radius: 20px;
    outline: none;
}