.item {
  background: white;
  width: 33%;
  height: 200px;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15px 25px;
  margin: 0 10px 10px;
  justify-content: space-between;
  border-radius: 20px;
}

.title {
  font-size: 20px;
  color: black;
  width: 70%;
  font-weight: 600;
}
